.jumbotron
{
    margin-top: 0px;
    background-image:url("https://www.csca.fr/images/__webzine/ImagesIllustrations/questions1.jpg");
    background-size: auto;
    color: whitesmoke;
    height: 280px;

}